<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>spaceId</key>
	<string>YOUR_SPACE_ID</string>
	<key>accessToken</key>
	<string>YOUR_ACCESS_TOKEN</string>
</dict>
</plist>
